body {
    margin: 0px;
    background-color: rgb(69, 71, 78);
    font-family: 'Roboto', sans-serif;
}

.nav-wrapper {
    height: 75px;
    padding-left: 5px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper > .left-column {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper > .left-column > .logo {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.nav-wrapper > .left-column > .logo > img {
    height: 82px;
    width: auto;
    margin-top: -7px;
    filter: invert();
}

.nav-wrapper > .left-column > .links-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2px;
    justify-content: left;
    align-items: center;
    width: 275px;
}

.nav-wrapper > .left-column > .links-wrapper > .explore{
    font-size: .9em;
    color: rgb(245, 234, 137);
    text-transform: uppercase;
}

.nav-wrapper > .left-column > .links-wrapper > .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper > .left-column > .links-wrapper > .links a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.nav-wrapper > .left-column > .spark-wrapper {
    color: rgb(155, 154, 155);
    width: 60px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-wrapper > .left-column > .spark-wrapper > .spark-chevron i {
    font-size: 1em;
}

.nav-wrapper > .buttons-wrapper {
    padding-right: 10px;
    padding-left: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper > .buttons-wrapper > .create-button {
    width: 100px;
    height: 48px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    background-color: rgb(55, 56, 63);
    border: none;
    border-radius: 3px;
}

.nav-wrapper > .buttons-wrapper > .create-button > .button-chevron {
    padding-left: 8px;
    padding-top: 3px;
    align-self: center;
    font-size: 1em;
    color: rgb(1, 212, 115);
}

.nav-wrapper > .buttons-wrapper > .search-button {
    width: 50px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(122, 124, 140);
    font-weight: 500;
    font-size: 2em;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.nav-wrapper > .buttons-wrapper > .log-in-button {
    width: 100px;
    height: 48px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    background-color: rgb(55, 56, 63);
    border: none;
    border-radius: 3px;
}

.nav-wrapper > .buttons-wrapper > .sign-up-button {
    width: 100px;
    height: 48px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    background-color: rgb(55, 56, 63);
    border: none;
    border-radius: 3px;
}

.body-wrapper {
    width: 100%;
    height: 500px;
    background-color: rgb(40, 42, 48);
    color: #999999;
    display: grid;
    grid-template-columns: 750px auto;
}

.body-wrapper > .content-wrapper {
    width: 650px;
    padding: 60px 50px;
}

.body-wrapper > .content-wrapper > .text-wrapper > p {
    line-height: 1.15;
    font-size: 2.5em;
    font-weight: 300;
}

.body-wrapper > .content-wrapper > .text-wrapper > p > .highlighted-text {
    font-weight: 700;
    color: white;
}

.body-wrapper > .content-wrapper > .text-wrapper > p2 {
    line-height: 1.25;
    font-size: 2em;
    font-weight: 300;
    padding: 20px 0px;
    color: #999999;
}

.body-wrapper > .content-wrapper > .buttons-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    column-gap: 20px;
}

.body-wrapper > .content-wrapper > .buttons-wrapper > .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-wrapper > .content-wrapper > .buttons-wrapper > .button-wrapper > .sign-up-free {
    color: black;
    background-color: rgb(59, 230, 44);
    border: none;
    border-radius: 4px;
    width: 225px;
    height: 60px;
    font-size: 1.5em;
}

.body-wrapper > .content-wrapper > .buttons-wrapper > .button-wrapper > .learn-more{
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    width: 175px;
    height: 60px;
    font-size: 1.5em;
}

.body-wrapper > .content-wrapper > .buttons-wrapper > .button-wrapper > .sign-up-free:focus, .body-wrapper > .content-wrapper > .buttons-wrapper > .button-wrapper > .learn-more:focus {
    outline: none;
}

.body-wrapper > .photo-wrapper {
    padding-top: 60px;
    height: 409px;
}

.body-wrapper > .photo-wrapper > .title-wrapper {
    padding-left: 100px;
}

.body-wrapper > .photo-wrapper > .title-wrapper > p {
    color: white;
}

.body-wrapper > .photo-wrapper > .title-wrapper > p > .color-blue {
    text-decoration: none;
    color:rgb(0, 204, 255);
}

.body-wrapper > .photo-wrapper > .project-image-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 8px;
    contain: strict;
}

.body-wrapper > .photo-wrapper > .project-image-wrapper > .project-image-container {
    margin-left: 100px;
    width: fit-content;
    padding: 0px;
    box-shadow: -5px 5px 3px 0px rgba(0,0,0,.2);
}


.body-wrapper > .photo-wrapper > .project-image-wrapper > .project-image-container > .project-image {
    width: 450px;
    height: 375px;
    max-height: 100%;
    margin-bottom: -20px;
}

.footer-wrapper {
    background: rgb(55, 56, 53);
    color: white;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.footer-wrapper > .footer-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(96, 96, 96);
}

.footer-wrapper > .footer-button-wrapper h1{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.15em;
}

.footer-wrapper > .footer-button-wrapper > h1 > .bold-span{
    font-weight: 900;
    font-size: 1.25em;
    letter-spacing: -1px;
    text-transform: uppercase;
}